body {
	background-color: #ebedf0;
}
.cover-upload, .avatar-upload {
	text-align: center;
}
.cover-upload img {
	height: 250px;
	border-radius: 3px;
	width: auto;
	object-fit: cover;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.avatar-upload img {
	height: 100px;
	width: 100px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #fff;
}
.upload-icon{
    position:relative;
    display:inline-block;    
    border-radius:8px;
    border:#ebebeb solid 1px;
    width:250px; 
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #fff;
    margin-top: 2px;
    background:#00bcd4
}
.upload-icon input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}
.cover-photo {
	max-height: 300px;
	width: 100%;
	object-fit: cover;
}
.profile-photo img {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	object-fit: cover;
	border: 3px solid #fff;
	margin-left: 40px;
	margin-right: 20px;
}
.profile-photo {
	margin-top: -130px;
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 2px;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}
.profile-about {
	background: #fff;
}
.profile-info p,
.profile-info p i {
	font-size: 14px;
	color: rgb(163, 163, 163);
}
.about-me {
	padding: 10px;
	border: 1px dashed #ccc;
	border-radius: 5px;
	margin: 0 25px;
}
.profile-about i,
.profile-about span {
	color: #0a8ea0;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
}
.manage-blog {
	border: 1px solid #ccc;
	border-radius: 5px;
}
.tag-list-blog {
	border-top: 1px dashed #ccc;
}
.article-box {
	border: 1px solid rgb(223, 223, 223);
	padding: 10px;
	border-radius: 5px;
	background-color: #fcfafa;
}
.article-box a,
.article-box a:hover,
.article-box a:active,
.article-box a:focus {
	text-decoration: none;
}
.article-box h6 {
	font-size: 20px;
}
.article-box .writer,
.article-box .writer a {
	font-size: 12px;
	padding-top: 8px;
	color: rgb(180, 180, 180);
	padding-bottom: 8px;
}
.small-tag,
.small-tag:hover,
.small-tag:active,
.small-tag:focus {
	text-decoration: none;
	color: white;
}
.small-category,
.small-category:hover,
.small-category:active,
.small-category:focus {
	text-decoration: none;
	border-bottom: 1px dashed #ccc;
	display: flex;
	text-transform: uppercase;
	font-weight: 600;
	color: #00a98f;
	margin-bottom: 3px;
	letter-spacing: 2px;
}
.blog-thumbnail {
	width: 100%;
	max-height: 200px;
	border-radius: 5px;
	object-fit: cover;
}
.blog-excerpt p {
	color: grey;
	font-size: 12px;
}
.blog-post {
	border-left: 1px dashed #ccc;
	border-right: 1px dashed #ccc;
}
.blog-main-image {
	max-width: 100%;
	padding: 10px;
	border-radius: 15px;
}
.blog-category {
	display: block;
	text-decoration: none;
	color: grey;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 16px;
	margin-top: 10px;
}
.blog-imgur-image {
	padding: 3px;
	border-radius: 5px;
	max-height: 150px;
}
.imgur-gallery {
	display: flex;
	justify-content: space-around;
}
.display-flex {
	display: flex;
}
.grey-text {
	color: grey;
}
.menu-list a,
.menu-list a:hover,
.menu-list a:active,
.menu-list a:focus {
	text-decoration: none;
	color: inherit;
}
.menu-list:hover,
.menu-list:active,
.menu-list:focus {
	background-color: #f1f1f1;
}
.active-menu {
	background-color: #e5e5e5 !important;
}
.thumbnail-image {
	height: 150px;
	border-radius: 5px;
}
.disabled-input {
	pointer-events: none !important;
	opacity: 0.1;
}
.imgur-Image {
	height: 127px;
	max-width: 180px;
	padding: 10px;
	border: 2px dotted #e5e5ea;
	border-radius: 5px;
	margin-bottom: 10px;
	object-fit: cover;
	background-color: #fff;
}
.add-image-grid {
	display: grid;
	margin-right: 10px;
	margin-bottom: 10px;
}
.imgur-uploader {
	display: flex;
}
.imgur-uploader input:hover {
	cursor: pointer;
}
.imgur-uploader i:hover {
	cursor: pointer;
	background: #f0f0f0;
	color: #505050;
	transition: color 0.2s linear, background-color 0.3s linear;
	transition-property: color, background-color;
	transition-duration: 0.2s, 0.3s;
	transition-timing-function: linear, linear;
	transition-delay: 0s, 0s;
}
.imgur-uploader input {
	opacity: 0;
	position: absolute;
	width: 120px;
	height: 125px;
}
.imgur-uploader i {
	font-size: 75px;
	padding: 24px;
	border: 2px dotted #e5e5ea;
	border-radius: 5px;
	color: #8e8e93;
	background-color: #fff;
}

.rs-uploader-file-item-status,
rs-uploader-file-item-btn-remove {
	display: none;
}
.display-none {
	display: none;
}
.ql-editor {
	min-height: 200px !important;
}
.ql-toolbar {
	border-radius: 5px 5px 0 0;
	border: 1px solid #e5e5ea !important;
	background-color: #fff;
}
.ql-container {
	border-radius: 0 0 5px 5px;
	border: 1px solid #e5e5ea !important;
	background-color: #fff;
}
.modal-back {
	opacity: .1;
	pointer-events: none;
}
.link-decoration-none a,
.link-decoration-none a:hover,
.link-decoration-none a:active,
.link-decoration-none a:focus {
	text-decoration: none;
	color: inherit;
	padding-top: 18px;
	padding-bottom: 18px;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
	padding-left: 10px;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

.m-0 {
	margin: 0 !important;
}

.mt-0,
.my-0 {
	margin-top: 0 !important;
}

.mr-0,
.mx-0 {
	margin-right: 0 !important;
}

.mb-0,
.my-0 {
	margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
	margin-left: 0 !important;
}

.m-1 {
	margin: 0.25rem !important;
}

.mt-1,
.my-1 {
	margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
	margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
	margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
	margin-left: 0.25rem !important;
}

.m-2 {
	margin: 0.5rem !important;
}

.mt-2,
.my-2 {
	margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
	margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
	margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
	margin-left: 0.5rem !important;
}

.m-3 {
	margin: 1rem !important;
}

.mt-3,
.my-3 {
	margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
	margin-right: 1rem !important;
}

.mb-3,
.my-3 {
	margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
	margin-left: 1rem !important;
}

.m-4 {
	margin: 1.5rem !important;
}

.mt-4,
.my-4 {
	margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
	margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
	margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
	margin-left: 1.5rem !important;
}

.m-5 {
	margin: 3rem !important;
}

.mt-5,
.my-5 {
	margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
	margin-right: 3rem !important;
}

.mb-5,
.my-5 {
	margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
	margin-left: 3rem !important;
}

.p-0 {
	padding: 0 !important;
}

.pt-0,
.py-0 {
	padding-top: 0 !important;
}

.pr-0,
.px-0 {
	padding-right: 0 !important;
}

.pb-0,
.py-0 {
	padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
	padding-left: 0 !important;
}

.p-1 {
	padding: 0.25rem !important;
}

.pt-1,
.py-1 {
	padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
	padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
	padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
	padding-left: 0.25rem !important;
}

.p-2 {
	padding: 0.5rem !important;
}

.pt-2,
.py-2 {
	padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
	padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
	padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
	padding-left: 0.5rem !important;
}

.p-3 {
	padding: 1rem !important;
}

.pt-3,
.py-3 {
	padding-top: 1rem !important;
}

.pr-3,
.px-3 {
	padding-right: 1rem !important;
}

.pb-3,
.py-3 {
	padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
	padding-left: 1rem !important;
}

.p-4 {
	padding: 1.5rem !important;
}

.pt-4,
.py-4 {
	padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
	padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
	padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
	padding-left: 1.5rem !important;
}

.p-5 {
	padding: 3rem !important;
}

.pt-5,
.py-5 {
	padding-top: 3rem !important;
}

.pr-5,
.px-5 {
	padding-right: 3rem !important;
}

.pb-5,
.py-5 {
	padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
	padding-left: 3rem !important;
}

.m-n1 {
	margin: -0.25rem !important;
}

.mt-n1,
.my-n1 {
	margin-top: -0.25rem !important;
}

.mr-n1,
.mx-n1 {
	margin-right: -0.25rem !important;
}

.mb-n1,
.my-n1 {
	margin-bottom: -0.25rem !important;
}

.ml-n1,
.mx-n1 {
	margin-left: -0.25rem !important;
}

.m-n2 {
	margin: -0.5rem !important;
}

.mt-n2,
.my-n2 {
	margin-top: -0.5rem !important;
}

.mr-n2,
.mx-n2 {
	margin-right: -0.5rem !important;
}

.mb-n2,
.my-n2 {
	margin-bottom: -0.5rem !important;
}

.ml-n2,
.mx-n2 {
	margin-left: -0.5rem !important;
}

.m-n3 {
	margin: -1rem !important;
}

.mt-n3,
.my-n3 {
	margin-top: -1rem !important;
}

.mr-n3,
.mx-n3 {
	margin-right: -1rem !important;
}

.mb-n3,
.my-n3 {
	margin-bottom: -1rem !important;
}

.ml-n3,
.mx-n3 {
	margin-left: -1rem !important;
}

.m-n4 {
	margin: -1.5rem !important;
}

.mt-n4,
.my-n4 {
	margin-top: -1.5rem !important;
}

.mr-n4,
.mx-n4 {
	margin-right: -1.5rem !important;
}

.mb-n4,
.my-n4 {
	margin-bottom: -1.5rem !important;
}

.ml-n4,
.mx-n4 {
	margin-left: -1.5rem !important;
}

.m-n5 {
	margin: -3rem !important;
}

.mt-n5,
.my-n5 {
	margin-top: -3rem !important;
}

.mr-n5,
.mx-n5 {
	margin-right: -3rem !important;
}

.mb-n5,
.my-n5 {
	margin-bottom: -3rem !important;
}

.ml-n5,
.mx-n5 {
	margin-left: -3rem !important;
}

.m-auto {
	margin: auto !important;
}

.mt-auto,
.my-auto {
	margin-top: auto !important;
}

.mr-auto,
.mx-auto {
	margin-right: auto !important;
}

.mb-auto,
.my-auto {
	margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
	margin-left: auto !important;
}
